@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
    
}

body {

    
    background-color: blanchedalmond;
    background-size: 85%;
    background-position: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    
   

}

.landing-page{
    background: url("/images/catanddog.png") no-repeat;
    background-color: blanchedalmond;
    background-size: 85%;
    background-position: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    
}

.weather{
    font-size: 1em;
}


.weather .area-select {
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    height: 30px;
}

.weather .btn {
    width: 50%;
    border-radius: 10px;
    background: peru;
    border: none;
    outline: none;
    font-weight: 400;
    height: 30px;
    cursor: pointer;
    margin: 5px;

}

.weather .btn:active {
    
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    
}



.login {
    width: 420px;
    background: transparent;
    color: peru;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 170px;
    width: 400px;
    max-width: 100%;
    text-align: center;
    


}

.login h1 {
    font-size: 36px;
    text-align: center;

}

.login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    display: flex;
    

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid peru;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    
    
}

.input-box input::placeholder {
    color: black;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    translate: translateY(-50%);
    font-size: 20px;
}

.login .btn {
    width: 100%;
    height: 45px;
    background: peru;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}

.weather {
    float: right;
    padding: 20px;

}

 .logo{
    float:left;
    font-size: 13px;
}

.credit .btn { 
    cursor: pointer; 
    border: 1px solid peru;
    background-color: transparent; 
    height: 30px; 
    width: 70px; 
    color: peru;
    font-size: 15px; 
    position: absolute;
    bottom: 0;
    right: 0;
    
} 



/*======================
   pageofpets 
=======================*/


.container{
    margin:0; padding:0;
    box-sizing: border-box;
    padding-bottom: 100px;
    max-width: 100%;

}

.container .logout .btn{
    width: 7em;
    height: 45px;
    background: peru;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    float: right;
    margin-right: 1em;
    margin-top: 1em;
}

.containerwithnoentry {
    width: 100%;
    overflow: hidden;
    padding: 5px;
    max-width: 100%;
}

.containerwithnoentry h1 {
    text-align: center;
    padding-bottom: 15px;
    color:black;
    font-size: 35px;
}

.containerwithnoentry h2 {
    text-align: center;
    padding-bottom: 15px;
    color:black;
    font-size: 20px;
}

.containerwithnoentry .no-entry-box{
    list-style: none;
    float: left;
    width: 25%;
    height: 400px;
    background-color: peru;
    margin: 40px 40px 0px 55px;
    border-radius: 10px;
}


 .containerwithnoentry ul li {
    list-style: none;
    font-size: 200px;
    text-align: center;
    padding: 10%;
   
   
 }

.containerwithentry {
    width: 100%;
    overflow: hidden;
    padding: 5px;
}

.containerwithentry .heading {
    text-align: center;
    padding-bottom: 15px;
    color:black;
    font-size: 30px;
}

.containerwithentry ul {
    padding: 0px;
    margin: px;

}

 .containerwithentry ul li {
    list-style: none;
    float: left;
    width: 26%;
    height: 390px;
    background-color: peru;
    margin: 40px 40px 0px 55px;
    border-radius: 5px;
    max-width: 100%;

} 



.container .containerwithentry .box-container {
padding: 30px 20px;
text-align: center;
max-width: 100%;

}


.container .containerwithentry ul li:hover {
   box-shadow: 0 10px 15px rgba(0, 0, 0, alpha.3);
   transform: scale(1.03) ;
    
}

.container .containerwithentry .box-container li img{
    width:100%;
    padding: 10px;
    max-width: 100%;
    margin-top: 1%;
}

.container .containerwithentry .box-container li h3{
    font-size: 25px;
    max-width: 100%;
    text-align: center;
   margin-top: -4%;
}

.container .containerwithentry .box-container li p {
   font-size: 200px;
   text-align: center;
   padding: 10%;
  
  
}



/*======================
   petinfo
=======================*/

.form-control {
    padding: 10px;
    border-radius: 10px;

}

.form-select {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

textarea {
    width: 25%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 100px;
    margin: 5px;
    text-transform: none !important;
}



.petform .btn {
    width: 15%;
    height: 45px;
    background: peru;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

 .petform h1{
    margin-bottom: 50px;
    text-align: center;
 }

.petform .btn-danger {
    width: 15%;
    height: 45px;
    background-color: maroon;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}


#thumbwrap {
	position:relative;
}
.thumb span { 
	position:absolute;
	visibility:hidden;
}
.thumb:hover, .thumb:hover span { 
	visibility:visible;
	top:0;
	left:100px; 
	z-index:1;
    
}


/*======================
    404 page
=======================*/


.errorpage{
    background-color: blanchedalmond;
    text-align: center;
}

.page_404{ padding:10px 0; background:blanchedalmond; font-family: 'Arvo', serif;
  
}


.page_404  img{ width:100%;}

.title{
   color:black; 
   font-size: 90px;
}

.four_zero_four_bg{
 
 background: url("/images/dogchasetheirtail.gif") no-repeat;
    height: 500px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 margin-top: 100%;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}


/*======================
    cat or dog page
=======================*/


.catordog{
    text-align: center;
}

.catordog img{
    width:70%;
    max-width: 100%;
    margin: auto;
    margin-top: 3%;

   

}
.catordog h1{
    text-align: center;

}
.catordog .btn {
    width: 5em;
    height: 45px;
    background: peru;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 30px;
    color: #333;
    font-weight: 600;
    margin-right: 40px;
    margin-left: 15px;
    margin-top: 50px;

}

.flex-parent {
    display: flex;
  }
  
  .jc-center {
    justify-content: center;
  }


/*======================
   individual pet page 
=======================*/

.indivpets {
   
    flex-direction: column;
    align-items: center;
    
    
}
.indivpets .btn {
    margin-top: 1em;
    width: 5em;
    height: 45px;
    background: peru;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}


.indivpets h1{
    text-align: center;
    padding: 10px;
    
}

.pet .indivpets img{
border-radius: 5%;
margin-top: 5em;
float: left;
margin-right: 5%;
margin-left: 9%;

}

.details .name{
    margin-top: 3%;

}


/*======================
   api page 
=======================*/


.api h1{
    text-align: center;
    padding: 10px;
    
}

.api p{
    font-size: 170%;
    text-align: center;
    margin-top: 200px;
}

.instruction{
    text-align: center;
    text-transform: none;
}

.instruction .btn{
    margin-top: 1em;
    width: 5em;
    height: 45px;
    background: peru;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.picture{
    background: url("/images/background.jpg") no-repeat;
    background-size: cover;

}

/*======================
   credit page 
=======================*/
.credit-pic{
    background: url("/images/background.jpg") no-repeat;
    background-size: cover;

}


.credit h1{
    text-align: center;
    padding: 10px;
}

.credit-body p{
    text-align: center;
    margin-top: 2px;
    font-size: 100%;
    margin-top: 210px;
    
}
