<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Or Dog?</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <form method="POST" th:action="@{/pets/pet}">
        <button type="submit"  name="breed" th:value="cat"> Cat </button>
        </form>


        <form method="POST" th:action="@{/pets/pet}">
            <button type="submit" name="breed" th:value="dog"> Dog </button>
          </form>
    
</body>
</html>