<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="credit-pic">



    <div class="credit">
    <h1>Credits </h1>
</div>  

<div class="credit-body">
    <p > Background image by Fishfinger Creative agency
        <br>
    Default pet image by "https://assets.materialup.com/uploads/2e791a32-44bc-43f3-aab4-c8b801465549/preview.jpg"
    <br>
    Cat and dog picture  <a href="http://www.freepik.com"> designed by stockgiu / Freepik</a>
    <br>
    Cat and Dog picture as background <a href="https://www.freepik.com/free-vector/frame-with-dogs-vector-white-background_17432981.htm#query=cat%20and%20dog%20background&position=1&from_view=search&track=ais&uuid=7e40e9e6-3098-41df-8bcd-835b8892ab11">Image by rawpixel.com</a> on Freepik
    <br>
    Pawprints as logo <a href="https://www.shutterstock.com/search/animal-footprint-logo"> by shutterstock</a> 
    <br>
    Dog chasing its tail as error page picture <a href="https://www.dailypaws.com/dogs-puppies/dog-behavior/common-dog-behaviors/why-do-dogs-chase-their-tails">by daily paws</a>
    <br>
    Cat API: https://api.thecatapi.com/v1/breeds 
    <br>
    Cat images API:https://api.thecatapi.com/v1/images/
    <br>
    Dog API: https://api.thedogapi.com/v1/breeds
    <br>
    Dog API: https://api.thedogapi.com/v1/images/
    <br>
    Weather API: https://api.data.gov.sg/v1/environment/2-hour-weather-forecast</p>
</div>


</body>
</html>