<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="errorpage">
    
   
        <div class="container">
            <div class="row">	
            <div class="col-sm-12 ">
            <div class="col-sm-10 col-sm-offset-1  text-center">
            <h1 class="title">404</h1>
            <section class="page_404">
            
            <div class="four_zero_four_bg">
                
            
            </div>
            
            <div class="contant_box_404">
            <h3 class="h2">
            Oops! Seems like the dog is too busy chasing it's tail! 
            </h3>
            
            <p>And he is very sorry that he lost the page</p>
            
            <a th:href="@{/}" class="link_404" >Go to Home</a>
        </div>
            </div>
            </div>
            </div>
        </div>
    </section>
</body>
</html>