<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Pet</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="pet">

    <div class="logo">
        <img th:src="@{/images/pawprints.jpeg}" width="120px" height="80px" alt="Logo">
    </div> 

    <div class="indivpets" th:object="${pet}">


    <h1 data-th-text="${pet.name}" ></h1>
    
    
        <div class="petimage">
        <img th:src="${pet.imageId}" width="400px" height="300px">
        <br>
        

    <div class="details">
        <div class="name">
        <span>Name: </span>
        <span data-th-text="${pet.name}"></span>
        <br>
        </div>
        <span>Date of Birth: </span>
        <span data-th-text="${#dates.format(pet.dateOfBirth, 'yyyy-MM-dd')}"></span>
        <br>    

        <span>Date of Vaccination: </span>
        <span data-th-text="${#dates.format(pet.dateOfVaccination, 'yyyy-MM-dd')}"></span>
        <br>

        <span>Date of Next Vaccination: </span>
        <span data-th-text="${#dates.format(pet.dateOfNextVaccination, 'yyyy-MM-dd')}"></span>
        <br>

        <span>Date of Last Groomed: </span>
        <span data-th-text="${pet.lastGroomedDate}"></span>
        <br>

        <span>Date of Next Groomed: </span>
        <span data-th-text="${pet.nextGroomedDate}"></span>
        <br>

        <span>Microchip Number: </span>
        <span data-th-text="${pet.microChipNumber}"></span>
        <br>

        <span>Age: </span>
        <span data-th-text="${pet.age}"></span>
        <br>

        <span>Breed: </span>
        <span data-th-text="${pet.breed}"></span>
        <br>

        <span>Gender: </span>
        <span data-th-text="${pet.gender}"></span>
        <br>

        <span>Allergies: </span>
        <span data-th-text="${pet.allergies}"></span>
        <br>

        <span>Comments: </span>
        <span data-th-text="${pet.comments}"></span>
        <br>

        <span>Species: </span>
        <span data-th-text="${pet.species}"></span>
        <br>

        
        <button class="btn"><a th:href="@{/pets/petdelete/{name}(name=${pet.id})}" style="color: inherit; text-decoration: none;"> Delete </a></button>
       <button class="btn"><a th:href="@{/pets/petupdate/{name}(name=${pet.id})}" style="color: inherit; text-decoration: none;">Edit</a></button> 
       <button class="btn"><a th:href="@{/pets/back}" style="color: inherit; text-decoration: none;">Back</a></button> 
      
   </div> 
</div> 
</div>  
</body>
</body>
</html>