<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="landing-page">

   
   
    <img th:src="@{/images/pawprints.jpeg}" width="120px" height="80px" alt="Logo">
    <div class="weather">
        <form method="POST">
            <div class="mb-3">
                <h2>Will it be raining cats and dogs?</h2>
                <label for="searchWeather" class="form-label">Area:</label>
                <select id="area" name="area" class="area-select">

                    <option>Choose an area...</option>
                    <option th:each="w: ${listofweather}" th:value="${w.area} + ',' + ${w.forecast}"
                        data-th-text="${w.area}" th:selected="${#strings.equals(lastselected, w.area)}">
                    </option>
                </select>
            </div>

            <button type="submit" class="btn" formaction="/weather"> Click here to find out!</button>
            <br>
                <label for="forecast">Forecast for the next 2 hours:</label>
                <span data-th-text="${forecast}"></span>
            
        </form>
    </div>
    
    <div class="login">
        <form method="GET">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" name="name" placeholder="Your name" required>
                <i class='bx bxs-user'></i>
            </div>
            <button type="submit" class="btn" th:formaction="@{/pets}"> Let's start </button>
        </form>
    </div>
    <div class="credit">
    <span><button class="btn"><a th:href="@{/credits}" style="color: inherit; text-decoration: none;">Credits</a>  </button></span>
</div>
</body>

</html>