<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Pets</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   
    <form data-th-object="${pet}">
    
    <h1>Welcome to your pet's health booklet</h1>

    <div data-th-if="${#lists.isEmpty(retrievedpets)}">
            <p>Oh no! Your Pet's health booklet is empty</p>
			<p>Please click <a th:href="@{/pets/add}">here </a> to start your furkid's entry</p>
    </div>

    <div class="containerwithentry">
	<div data-th-if="${not#lists.isEmpty(retrievedpets)}">
            <p>Welcome back!</p>
            <p>Please click <a th:href="@{/pets/add}">here </a> to add another furkid entry</p>
			<ul data-th-each="pet: ${retrievedpets}">
                <li><span data-th-text="${pet.name}"></span>
                    <br>
                    <a th:href="@{/pets/petupdate/{name}(name=${pet.name})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/pets/petdelete/{name}(name=${pet.name})}" class="btn btn-danger"> Delete </a></li>
            </ul>
		</div>
    </div>



    </form>
</body>
</html>