<table border="1">
    <thead>
        <tr>
            <th>Pet's Name</th>
            <th>Pet's Breed</th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        <tr data-th-each="pet: ${retrievedpets}">
            <td> <span data-th-text="${pet.name}"></span> </td>
            <td> <span data-th-text="${pet.breed}"></span> </td>
            <td>
                <a th:href="@{/pets/petupdate/{name}(name=${pet.name})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/pets/petdelete/{name}(name=${pet.name})}" class="btn btn-danger"> Delete </a>
                
            </td>
        </tr>
    </tbody>
</table>

<div class="petform">
    <h1> Pet's Health Booklet </h1>
    <form method="POST" th:object="${pet}"> 

    <div class="mb-3">
        <label for="name" class="form-label">Pet's Name</label>
         <input type="text" class="form-control" name="name" th:field="*{name}" aria-describedby="nameHelp"/>
         <div id="nameHelp" class="form-text">please enter your furkid's name</div>
     <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
     </div>

     <div class="mb-3">
        <label for="microchip" class="form-label">Pet's Microchip Number</label>
         <input type="number" class="form-control" name="microChipNumber" th:field="*{microChipNumber}" aria-describedby="microChipNumberHelp"/>
         <div id="microChipNumberHelp" class="form-text">Between 10 - 15 digits</div>
     <div class="alert alert-danger" th:if="${#fields.hasErrors('microChipNumber')}" th:errors="*{microChipNumber}"></div>
     </div>

     <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Pet's Date Of Birth</label>
        <input type="date" class="form-control" name="dateOfBirth" th:field="*{dateOfBirth}" aria-describedby="dateOfBirthHelp"/>
        <div id="dateOfBirthHelp" class="form-text">Please enter a past date</div>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>
    </div>

    <div class="mb-3">
        <label for="gender" class="form-label">Pet's Gender</label>
         <input type="text" class="form-control" name="gender" th:field="*{gender}" aria-describedby="genderHelp"/>
         <div id="genderHelp" class="form-text">please enter your furkid's gender</div>
     <div class="alert alert-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
     </div>

        <div class="mb-3">
            <label for="breed" class="form-label">Breed of dog</label>
            <select id="breed" name="breed">
        <option ></option>
        <option th:each="b: ${listofdogbreeds}" data-th-value="${b}" data-th-text="${b}"> </option>
        </select>
    </div>
    
    <div class="mb-3">
        <label for="age" class="form-label">Pet's age</label>
        <input type="number" class="form-control" name="age" th:field="*{age}" aria-describedby="ageHelp"/>
        <div id="ageHelp" class="form-text">Please indicate with M for months</div>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    </div>

    <div class="mb-3">
        <label for="dateOfVaccination" class="form-label">Vaccination Date</label>
        <input type="date" class="form-control" name="dateOfVaccination" th:field="*{dateOfVaccination}" aria-describedby="dateOfVaccinationHelp"/>
        <div id="dateOfVaccinationHelp" class="form-text">Please enter a past date</div>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('dateOfVaccination')}" th:errors="*{dateOfVaccination}"></div>
    </div>

    <div class="mb-3">
            <label for="lastGroomedDate" class="form-label">Grooming date</label>
            <input type="text" class="form-control" name="lastGroomedDate" th:field="*{lastGroomedDate}" aria-describedby="lastGroomedDateHelp"/>
            <div id="lastGroomedDateHelp" class="form-text">When was your furkid's last grooming session?</div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('lastGroomedDate')}" th:errors="*{lastGroomedDate}"></div>
        </div>

    
        <div class="mb-3">
            <label for="allergies" class="form-label">Allergies</label>
            <input type="text" class="form-control" name="allergies" th:field="*{allergies}" aria-describedby="allergiesHelp"/>
            <div id="allergiesHelp" class="form-text">Any food allergies, medicine allergies?</div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('allergies')}" th:errors="*{allergies}"></div>
        </div>
        
        <div class="mb-3">
        <label for="comments">Comments:</label>
        <textarea id="comments" name="comments" rows="4" cols="50" placeholder="Enter your comments here" ></textarea>
    
        <br>
        </div>
    </div>
        <button type="submit" formaction="/pets/postInfo"> Save Record </button>
    </form>